[run]
source = src
omit =
    src/__pycache__/*
    src/routes/__pycache__/*
    src/generated/*
    src/report_generator.py
    tests/*

[report]
show_missing = True
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
