flask>=3.0
flask-cors
werkzeug>=3.1.8
requests
urllib3<3
pytest
pytest-asyncio
pytest-cov
hypothesis
schemathesis
moto[wafv2,s3,ec2,iam]
boto3
jsonschema
python-json-logger
PyJWT
cyclonedx-bom
pre-commit
mypy
allure-pytest
pip-audit
pytest-forked
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp-proto-grpc
pip-audit
pytest-xdist
detect-secrets
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp-proto-grpc
